body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    color: black;
}
button{
    background-color:blue;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 3px;
}