*::before,
*::after {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
body {
  --hue: var(--hue-nuetral);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hs1(var(--hue), 100%, 20%);
}
.containter {
  position: relative;
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}
#start-btn {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
     font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;

}
#start-btn:hover{
    border-color: black;
   
}
#questioncontainer {
  margin: 30px
}
#timeRemaining{
  justify-content: flex-end;
}